/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	position: relative;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.categories {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 51px 0;
}

.categorie {
	border-radius: 60px;
	border: 1px solid #1D6154;
	color: #1D6154;
	text-align: center;
	font-family: Syne;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	height: 37px;
	padding: 0 10px;
}

.categorie-selected {
	background: #1D6154;
	color: #FFF;
}

/* login */

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login h1 {
	color: #1D6154;
	text-align: center;
	font-family: Syne;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.login form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
}

.login form label {
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.login form input[type="text"],
.login form input[type="password"] {
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 379px;
	height: 51px;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.login form input[type="submit"] {
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 179px;
	height: 36px;
	border-radius: 60px;
	background: #1D6154;
	color: #FFF;
	text-align: center;
	font-family: Syne;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.login > p {
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: underline;
}

.error-login {
	display: none;
	justify-content: start;
	align-items: center;
	width: 379px;
	height: 51px;
	border: 1px solid red;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

/* editor mode */

.editor {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	height: 59px;
	background: #000;
	cursor: pointer;
}

.editor > i {
	color:#FFF;
	width: 15.58px;
	height: 15.58px;
}

.editor > p {
	color: #FFF;
	text-align: center;
	font-family: Work Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.project {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.modifier {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

/* modal */

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgb(0,0,0);
  	background-color: rgba(0,0,0,0.4);
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-content {
	position : relative;
	width: 630px;
	height: 688px;
	border-radius: 10px;
	background: #FFF;
}

.fa-xmark {
	position: absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
	display: none;
}

.fa-arrow-left {
	position: absolute;
	top: 30px;
	left: 30px;
	cursor: pointer;
	display: none;
}

.list {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 36px;
	padding: 60px 0;
}

.list > h2 {
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.list > button {
	width: 237px;
	height: 36px;
	flex-shrink: 0;
	border-radius: 60px;
	background: #1D6154;
}

.modalImg {
	display: grid;
	grid-template-columns: 80px 80px 80px 80px 80px;
	grid-template-rows: 104px 104px 104px 104px 104px;
	gap: 5px;
	height: 420px;
	width: 420px;
}

.pictureDiv img {
	width: 100%;
	height: 100%;
}

.pictureDiv {
	width: 100%;
	height: 100%;
	position: relative;
}

.btnDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
	border-radius: 2px;
	width: 17px;
	height: 17px;
	position: absolute;
	top: 6px;
	right: 6px;
	color:#FFF;
}

.line {
	width: 420px;
	height: 1px;
	background: #B3B3B3;
}

.new {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 36px;
	padding: 60px 0
}

#newPicture > h2 {
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.picture-box {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 420px;
	height: 169px;
	border-radius: 3px;
	background: #E8F1F6;
}

.picture-box > i {
	/* width: 76px;
	height: 76px; */
}

.picture-box > label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 173px;
	height: 36px;
	border-radius: 50px;
	background: #CBD6DC;
	color: #306685;
	text-align: center;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.picture-box > label:hover {
	background: #E8F1F6;
	border: 2px solid #CBD6DC;
}

.picture-box > p {
	color: #444;
	text-align: center;
	font-family: Work Sans;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#newPicture {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 10px;
}

#newPicture input[type="text"],
#newPicture select {
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 420px;
	height: 51px;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

#newPicture select {
	margin-bottom: 50px;
}

#newPicture input[type="submit"] {
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 237px;
	height: 36px;
	border-radius: 60px;
	background: #A7A7A7;
}

.photo-img {
	height: 100%;
	display: none;
}